.wrapper {
  padding-left: 2.5em;
  padding-right: 2.5em;
  width: 100%;
  display: grid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 40px;

  @media (max-width: 1500px) { grid-template-columns: repeat(3, 1fr); }
  @media (max-width: 1100px) { grid-template-columns: repeat(2, 1fr); }
  @media (max-width: 600px)  { grid-template-columns: 1fr; }
}

.grid > * {
  --tilt: -2deg;
  width: 100%;
  max-width: 400px;
  justify-self: center;
}

.grid > *:nth-child(even) { --tilt: 2deg; }
.grid > *:nth-child(3n)   { --tilt: 0deg; }
.grid > *:nth-child(5n)   { --tilt: 4deg; }
.grid > *:nth-child(7n)   { --tilt: -4deg; }
