.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  padding: 1rem;
}

.headerInner {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-content: center;
  align-items: center;
  padding-right: 2rem;
  border-radius: 2rem;
  padding-left: 2rem;
  background-color: var(--bgdark);

}



.links {
  display: flex;
  gap: 1.5rem;
}


.link {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 4px 0;
  transition: color 150ms ease;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 180ms ease;
}

.link:hover::after {
  transform: scaleX(1);
}

.link.active::after {
  transform: scaleX(1);
}
