*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
    background: white;
;

    color: #111;
}

img {
    max-width: 100%;
    display: block;
}

:root {
    --bgdark: #1A1A1A;
}